<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="DbConnection" connectionString="Data Source = (local);Initial Catalog = NON-RESIDENTIAL_DB; Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NonResidentialDB.Properties.Settings.NON_RESIDENTIAL_DBConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=NON-RESIDENTIAL_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>